div.menu{
	background-color: grey;
	width: 1502px;
	height: 30px;

}
img.logo{
	width: 170px;
	margin-left: 650px;
	margin-top: -13px;
}
iframe{
	margin-top: 50px;
}
img.inapoi{
	width: 30px;
}
div.inapoi{
	margin-top: -88px;
	margin-left: 10px;

}